
  *{
    margin:0; padding:0;
  }
  body {
    font-family: 'Barlow', sans-serif;
    color: #303336;
  }
  #debug-button{
    z-index: 10;
    position: absolute;
    display: inline-block;
    top: 5px;
    left: 5px;
  }
  #debug {
    padding: 64px;
  }
  #debug span{
    display: block;
    float: left;
    font-size: 24px;
    position: relative;
    left: 48px;
    margin-bottom: 40px;
    clear: both;
  }
  #debug input[type='checkbox']{
    width: 40px;
    height: 40px;
    position: absolute;
    left: -48px;
    top: -5px
  }

  #debug input[type='number']{
    font-size: 24px;
    position: absolute;
    left: -80px;
    width: 66px;
  }

  #main-nav{
    position:absolute;
    bottom:16px;
    left:0px;
    width: 100%;
  }
  #main-nav img{
    height:36px;
  }
  #journal{
    float: left;
    margin: 10px;
  }
  #backpack{
    float: right;
    margin: 10px;
  }
  .card {
    width: 100%;
    min-width: 250px;
    height: 100%;
    min-height: 420px;
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    display: none;
    overflow-x: hidden;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
  }

  #place-popup-card{
  }
  .close{
    position: fixed;
    top: 12px;
    right: 12px;
    z-index: 10;
  }
  .close:active {
    transform: scale(1.2);
  }

  #error-dialog{
    width: 65%;
    padding: 32px;
    z-index: 20;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 34px rgba(22, 96, 116, 0.65);
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto auto;
    top: 30%;
    display: none;
  }
  #error-dialog p{
    font-size: 18px;
    line-height: 24px;
  }

  #error-dialog .ok-button{
    background-color: white;
    border-radius: 24px;
    padding: 10px 20px;
    box-shadow: 0px 4px 0px #303336;
    border: 1px solid black;
    display: inline-block;
    clear: both;
    margin-bottom: 8px;
    margin-top: 24px;
    width: 70%;
    font-weight: bold;
    font-size: 22px;
  }

  #place-content{
    width: 100%;
    height:100%;
    display: block;
  }
  .place-header{
    position: relative;
  }
  .npc-section{
    position: absolute;
    width: 64px;
    right: 12px;
    bottom: 24px;
  }

  .npc_icon{
    margin-top:12px;
    text-align: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: linear-gradient(to bottom right, #A9EFFC, #65D9F8);
    box-shadow: 0px 2px 6px rgba(10, 47, 56, 0.2);
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
  .npc_icon img{
    //width: 30px;
    //height: 32px;
    position: relative;
    top:22%;
    vertical-align: middle;
    z-index: 5;
  }

  .npc_icon img.chatty{
    top: 0px;
    left: -21px;
    position: absolute;
  }


  .small-talk{
    width: 177px;
    display: inline-block;
    position: absolute;
    right: 0px;
    font-size: 13px;
    height: 44px;
    vertical-align: center;
    padding: 10px 84px 10px 40px;
    text-align: left;
    line-height: 18px;
    background-color: rgba(255,255,255,.85);
    border-radius: 32px;
    display: none;
  }

  #npc-popup-card {
    z-index: 15;

    background-image: url("npc/spelunker-main.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: top center;
  }
  #npc-text{
    background-color: white;
    border: 2px solid #303336;
    border-radius: 36px;
    padding:  14px 24px 18px 24px;
    width: 70%;
    margin: auto;
    position: relative;
    //top: 40%;
    margin-top:270px;
    font-size: 20px;
    line-height: 28px;
  }
  #npc-text img{
    position: absolute;
    top: -24px;
    left: 36px;
  }
  #npc-responses {
    position: absolute;
    bottom: 12px;
    margin-top: 24px;
    width: 100%;
    text-align: center;

  }
  #npc-responses span{
    background-color: white;
    border-radius: 24px;
    padding: 12px 20px;
    box-shadow: 0px 4px 0px #303336;
    border: 1px solid black;
    display: inline-block;
    clear: both;
    margin-bottom: 18px;
    max-width: 80%;
  }

  #map { position:absolute; top:0; bottom:0; width:100%; }

  .marker {
    border-radius: 50%;
    background-size: contain;
    filter: grayscale(90%);
    -webkit-transition: filter 2s linear;
    -moz-transition: filter 2s linear;
    -o-transition: filter 2s linear;
    transition: filter 2s linear;
  }
  .marker img{
    width: 100%;
    filter: drop-shadow(1px 1px 0 white)
          drop-shadow(-1px -1px 0 white);
  }
  .active-marker{
    filter: grayscale(0%); !important
  }
  .active-marker::after{
    content: '';
    width: 20px;
    height: 20px;
    //border: 10px solid #34DFF380;
    background-color: #34DFF380;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: pulsate infinite 3s;
    z-index: -1;
  }
  @-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(.5, .5);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(5, 5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5, 1.5);
    opacity: 0;
  }
}

  .player {
    filter: grayscale(0%); !important
  }

  .popup::-webkit-scrollbar {
    display: none;
  }

  .popup {
    display: none;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
  }
  .place-image{
    width:100%;
    display: block;
  }
  .place-description{
    width: 75%;
    margin: 16px auto;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #4A4A4A;
  }

  .player{
    width: 20px;
    height: 20px;
    radius: 50%;
    background-color: orange;
    display: none;
  }

  .marker img:hover{
    transform: scale(1.1);
  }
  .marker img:active{
    transform: scale(1.2);
  }
  .level-1 {
  }
  .level-2 {
    display:none;
  }
  .level-3, .level-4, .level-2{
    display:none;
  }

  .daily-items {
    width: 100%;
    text-align: center;
  }
  .popup h3{
    font-family: Signpainter, 'Sacramento', cursive;
    font-size: 28px;
    margin-top:16px;
    margin-bottom: 8px;
    font-weight: normal;
    //opacity: .6;
    color:gray;
  }
  .daily-items span{
    display:inline-block;
    text-align: center;
    width: 44px;
    height: 44px;
    padding: 10px;
    border-radius: 50%;
    margin: 8px;
    background-color: rgba(0,0,0,.05);
    position:relative;
  }
  .daily-items img{
    height: 44px;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
  .daily-items img:active {
    transform: scale(1.2);
  }

  #npc-item{
    width: 100%;
    text-align: center;
  }
  #npc-item span{
    display:inline-block;
    text-align: center;
    width: 44px;
    height: 44px;
    padding: 10px;
    border-radius: 50%;
    margin: 8px;
    background-color: rgba(0,0,0,.05);
    position:relative;
  }

  .shop {
    border-top: 2px solid #EEEEEE;
    width:90%;
    margin: auto;
    margin-top: 16px;
    padding-top: 16px;
  }
  .shop_item, #purchases .item{
    display:inline-block;
    float: left;
    text-align: center;
    width: 33.3%;
    height: 100px;
    margin-top: 16px;
  }
  .shop_item img, #purchases .item img{
    height: 70px;
    //width:80%;
    width:65%;
    object-fit: contain;
    display: inline-block;
  }
  .shop_item .price::before{
    content: "";
    background-image: url("icons/acorn.png");
    background-size:contain;
    background-repeat: no-repeat;
    display:inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top:2px;
    margin-right: 4px;
  }
  .shop_item .price{
    font-size: 14px;
    text-align: center;
    display:inline-block;
    float: left;
    width:100%;
  }

  #inventory, #purchases {
    width: 90%;
    margin: auto;
    margin-top: 8px;
    //overflow-y: scroll;
  }
  #inventory .item{
    display:inline-block;
    float: left;
    text-align: center;
    //width: 44px;
    width: 33.3%;
    height: 62px;
    //padding: 10px;
    margin-top: 16px;
  }
  #inventory .item img{
    height: 44px;
    display: inline-block;
  }
  #inventory .quantity, #purchases .quantity{
    font-size: 14px;
    text-align: center;
    display:inline-block;
    float: left;
    width:100%;
  }

  #landmarks .place{
    display:inline-block;
    float: left;
    width: 50%;
    margin-top: 16px;
    text-align: center;
  }
  #landmarks .place img{
    object-fit: contain;
    width: 60%;
    height: 100px;
    display: inline-block;
  }
  #landmarks .journal-date{
    float: left;
    text-align: center;
    width: 100%;
  }

  #quests .quest{
    display:inline-block;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 16px;
    font-family: Signpainter, 'Sacramento', cursive;
    font-size: 36px;
    background-image: url("icons/brushstroke.png");
    background-repeat: no-repeat;
    height: 50px;
    background-size: contain;
    background-position: center;
    padding: 16px 0px 12px 0px;
  }

  .card h2{
    font-size: 24px;
    text-align: center;
    margin-top: 16px;
  }
  .card-tabs{
    text-align: center;
    width:100%;
    position: fixed;
    bottom: 0px;
    background-color: rgba(255,255,255,.7);
  }
  .card .tab{
    font-size: 24px;
    text-align: center;
    margin-right:30px;
    margin-top: 16px;
    display: inline-block;
    font-weight: bold;
    color: #bababa;
    padding-bottom: 8px;
  }
  .card .active {
    color: black; !important
    border-bottom: 3px solid black; !important
  }
  .card .tab-content{
    margin-top: 8px;
    overflow-y: scroll;
  }

  #add-item-anim {
    position: absolute;
    z-index: 15;
    bottom: 26px;
    right: 10px;
    width: 35px;
    text-align: center;
    display: none;
  }
  #add-item-anim span{
    width: 100%;
    display: inline-inline-block;
    text-align: center;
    position: relative;
  }
  #add-item-anim img {
    width: 100%;
  }
  #add-item-anim #new-item {
    width: 60%;
    position: relative;
    bottom: 0px;
    //bottom: -34px;
  }

  .tab-content{
    display: none;
  }

  .placeholder {
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 48px;
  }
